@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', 'sans-serif';
}

.font-roboto-price{
    font-family: 'Roboto';
    font-weight: 600;
    color:#3B7515;
}


.roboto {
    font-family: 'Roboto';
}